AI_API_TOKEN=replace_me
AI_USE_BAILIAN=true
AI_FALLBACK_TO_RULE=true
AI_MODEL_NAME=qwen-plus
AI_MODEL_VERSION=latest
AI_PROMPT_VERSION=p1-bailian-json
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
