<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodsphere.weather.mapper.BizWeatherMappingMapper">

    <resultMap id="BizWeatherMappingResultMap" type="BizWeatherMapping">
        <id property="id" column="id" />
        <result property="recordId" column="record_id" />
        <result property="weatherCode" column="weather_code" />
        <result property="weatherName" column="weather_name" />
        <result property="skyType" column="sky_type" />
        <result property="cloudDensity" column="cloud_density" />
        <result property="rainIntensity" column="rain_intensity" />
        <result property="lightningIntensity" column="lightning_intensity" />
        <result property="windSpeed" column="wind_speed" />
        <result property="fogIntensity" column="fog_intensity" />
        <result property="colorTemperature" column="color_temperature" />
        <result property="saturation" column="saturation" />
        <result property="particleStyle" column="particle_style" />
        <result property="animationSeed" column="animation_seed" />
        <result property="extraParams" column="extra_params" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="updateTime" column="update_time" />
        <result property="updateBy" column="update_by" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectBizWeatherMappingColumns">
        select id, record_id, weather_code, weather_name, sky_type, cloud_density, rain_intensity, lightning_intensity, wind_speed,
               fog_intensity, color_temperature, saturation, particle_style, animation_seed, extra_params, create_time, create_by,
               update_time, update_by, del_flag, remark
        from biz_weather_mapping
    </sql>

    <select id="selectByRecordId" resultMap="BizWeatherMappingResultMap">
        <include refid="selectBizWeatherMappingColumns" />
        where record_id = #{recordId}
          and del_flag = 0
        limit 1
    </select>

    <insert id="upsertBizWeatherMapping" parameterType="BizWeatherMapping">
        insert into biz_weather_mapping (
            record_id, weather_code, weather_name, sky_type, cloud_density, rain_intensity, lightning_intensity, wind_speed,
            fog_intensity, color_temperature, saturation, particle_style, animation_seed, extra_params, create_by, create_time,
            update_by, update_time, del_flag, remark
        ) values (
            #{recordId}, #{weatherCode}, #{weatherName}, #{skyType}, #{cloudDensity}, #{rainIntensity}, #{lightningIntensity},
            #{windSpeed}, #{fogIntensity}, #{colorTemperature}, #{saturation}, #{particleStyle}, #{animationSeed}, #{extraParams},
            #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{delFlag}, #{remark}
        )
        on duplicate key update
            weather_code = values(weather_code),
            weather_name = values(weather_name),
            sky_type = values(sky_type),
            cloud_density = values(cloud_density),
            rain_intensity = values(rain_intensity),
            lightning_intensity = values(lightning_intensity),
            wind_speed = values(wind_speed),
            fog_intensity = values(fog_intensity),
            color_temperature = values(color_temperature),
            saturation = values(saturation),
            particle_style = values(particle_style),
            animation_seed = values(animation_seed),
            extra_params = values(extra_params),
            update_by = values(update_by),
            update_time = values(update_time),
            del_flag = 0,
            remark = values(remark)
    </insert>

</mapper>


